@{
    Layout = null;
}

    <!--script src="@Url.Content("~/Scripts/jquery.webcam.js")">
    </script-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    
<script src="/Scripts/jquery.webcam.js"></script>
    <script>
        var cams = webcam.getCameraList();
        //window.alert(cams);
        /*for (var i in cams) {
            jQuery("#cams").append("<li>" + cams[i] + "</li>");
        }
        
        $("#Camera").webcam({
            width: 320,
            height: 240,
            mode: "save",
            swffile: "Url.Content("~/Scripts/jscam.swf")",
            onTick: function () { },
            onSave: function () { },
            onCapture: function () {
                webcam.save("Url.Content("~/Home/Capture")/");
            },
            debug: function () { },
            onLoad: function () { }
        });*/
        $("#camera").webcam({
            width: 320,
            // other options etc.
            debug: function(type, message) { 
                if (message === "Camera started") { window.webcam.started = true; } 
            }
        });
        //window.alert("lewat?");
        window.webcam.onStarted = function () {
            alert("Whey, the webcam started");
        };
    </script>

<!DOCTYPE html>

<html>
    <body>
        <h2>Index</h2>
        <input type="button" value="Shoot!" onclick="webcam.capture();" />
        <div id="Camera"></div>
        
            <button onclick="webcam.capture();">Try it</button>

        <script>
            function myFunction() {
                alert("I am an alert box!");
            }
        </script>
    </body>
</html>